* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.body {
    background-color: #f7f8f2;
}
/* <--navbar--> */

.container-fluid {
  background:#e3dfdd;
}

.navbar-nav li {
  text-align: right;
}


.navbar-nav a {
    color: #474954;
}

.nav a:hover {
    color:#474954;
}

.hover-underline-animation a{
    display: inline-block;
    position: relative;
    color: #474954;
  }

.hover-underline-animation a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#474954;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* <--/navbar--> */

/* <--banner--> */
.intro {
  background: #68534D;
  color: #e3dfdd;
  height:100vh;
}

.btn-custom {
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  color: #e3dfdd;
}

.btn-custom:hover {
  color: #c8c0bc;
}

/* <--banner--> */

.about,
footer {
    padding-top: 300px;
}
